.baseImg {
  display: block;
  padding: 3px;
  object-fit: contain;
}

.baseImg.sm {
  width: 20px;
  height: 20px;
}

.baseImg.lg {
  width: 50px;
  height: 50px;
}

.baseImg.free {
  height: auto;
}
