.baseHeading1Classificationtitle {
  padding: 5px;
  font-size: 1.5rem;
}

.baseImgClassificationtitle {
  border: 0.5px solid rgb(230 230 230);
  border-radius: 2px;
  box-shadow: 15px 15px 10px 0 rgb(245 245 245 / 60%);
}

.classificationTitle {
  display: flex;
  justify-content: center;
}

.classificationTitleBorder {
  margin: 5px;
  border: 1px solid lightgray;
}
