.baseHeading1Classificationtitle {
  padding: 5px;
  font-size: 1.5rem;
}

.classificationTitle {
  display: flex;
  justify-content: center;
}

.classificationTitleBorder {
  margin: 5px;
  border: 1px solid lightgray;
}
