.baseLoading {
  width: 100px;
  height: 100px;
  margin: 50% auto;
  background-color: cornflowerblue;
  border-radius: 100%;
  animation: spinner-anime 0.5s infinite;
}

@keyframes spinner-anime {
  from {
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(1);
  }
}
