.baseLinkNavBar {
  display: block;
  height: 30px;
  margin: 10px;
  font-size: 1.3em;
  color: white;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  background-color: rgb(100 149 237 / 90%);
}

.navBarBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85%;
  margin: 0.5em auto;
}
