.baseTextNavlistitempc {
  color: white;
}

.navItem {
  display: block;
  font-size: 18px;
  text-align: left;
}

.navItemContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
