.baseLinkNavListItemPc {
  color: white;
  display: block;
  font-size: 1.3em;
  height: 30px;
  margin-top: 10px;
}

.navListItemPc {
  display: block;
  font-size: 18px;
  text-align: left;
}

.navListItemPcContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
