._7k698n0{padding:10px 0 0;margin-left:5px;font-size:1.75rem;color:#6495ed;text-align:left;border-top:2.5px solid lightgray}._7k698n1{padding:10px;background-color:#f5f5f5;border:1px solid lightgray}
