.navList {
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(100 149 237 / 90%);
}

/* nav-contentsのアニメーション */
.navFadeEnter,
.navFadeLeaveTo {
  opacity: 0;
}

.navFadeEnterTo,
.navFadeLeave {
  opacity: 1;
}

.navFadeEnterActive,
.navFadeLeaveActive {
  transition: opacity 0.6s ease;
}
