.buttonReset {
  width: 50px;
  height: 55px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  border: none;
}

.baseNavIcon {
  position: relative;
  top: -5px;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}

.baseNavIconBorder {
  position: absolute;
  top: calc((100% - 2px) / 2);
  right: 0;
  left: 0;
  display: block;
  width: 70%;
  height: 2px;
  margin: auto;
  background-color: #fff;
  border-radius: 1px;
}

.baseNavIconTopClose {
  transform: translateY(-10px);
}

.baseNavIconBottomClose {
  transform: translateY(10px);
}

.baseNavIconTopOpen {
  transform: rotate(-45deg);
  animation: top 0.6s ease;
}

.baseNavIconMiddleFade {
  opacity: 0;
  animation: middle 0.6s ease;
}

.baseNavIconBottomOpen {
  transform: rotate(45deg);
  animation: bottom 0.6s ease;
}

.baseNavIconText {
  display: block;
  width: 50px;
  height: 10px;
  margin: 30px auto 0;
  font-size: 10px;
  color: white;
}

@keyframes top {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes middle {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes bottom {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-45deg);
  }
}
